input {
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  width: 100%;
  box-sizing: border-box;
}

.label {
  font-size: 10px;
  display: inline-block;

  text-overflow: ellipsis;
  text-align: right;
  padding: 0 10px;
  //background-color: #ddd;
}

.value {
  display: inline-block;
  float: right;
  width: 100px;

}

.control {
  width: 100%;
  box-sizing: border-box;
  height: 24px;
  //background-color: #aaa;
}