@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

@mixin roundedCorners($size){
  -webkit-border-radius: $size + px;
  -moz-border-radius: $size + px;
  border-radius: $size + px;
}

.control-ui-container {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  background-color: #eee;
  box-sizing: border-box;
  border-radius: 3px;

  input {
    font-family: 'Space Mono', monospace;
    font-size: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .label {
    font-size: 10px;
    display: inline-block;

    text-overflow: ellipsis;
    text-align: right;
    padding: 0 10px;
    //background-color: #ddd;
  }
  .value {
    display: inline-block;
    float: right;
    width: 100px;

  }

  .panel {
    background-color: #666666;
    //overflow: hidden;
    margin: 2px 2px;
    //padding: 2px;
    perspective: 1px;
    @include roundedCorners(5);
    box-shadow: 0 0 1px black;
  }

  .panel>.label {
    font-size: 12px;
    text-align: left;
    height: 100%;
    width: 100%;
    display: table;
    box-sizing: border-box;
    font-weight: bold;
    vertical-align: middle;
    .text {
      float: left;
      display: table-cell;
      vertical-align: middle;
      box-sizing: border-box;
    }
    .expand-symbol {
      height: 100%;
      float: right;
      font-size: 10px;
      display: table-cell;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }

  .panel>.content {
    background-color: #bbb;
  }

  .control {
    width: 100%;
    box-sizing: border-box;
    height: 24px;
    //background-color: #aaa;
  }
}